# Logs
*.log
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Node / package manager
node_modules
yarn.lock
pnpm-lock.yaml

# Build output
.next
out
dist
build

# Env files
.env*
!.env.production  # optional: include only production env if needed

# IDEs / Editors
.vscode
.idea
*.sublime-project
*.sublime-workspace
